* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --primary: #3450a1;
  --primary-light: #7b96e8;
  --primary-dark: #031956;
  --secondary-blue: #3277ed;
  --secondary-purple: #ba1be0;
}

body {
  background-color: var(--primary);
  color: white;
  font-family: "Poppins", sans-serif;
}

#root {
  height: 100vh;
  width: 100vw;
}

.app {
  padding: 1rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app header {
  display: flex;
  color: white;
  font-size: 2rem;
  /* min-height: 20vh; */
  align-items: center;
  justify-content: center;
}

#container {
  flex-grow: 1;
  /* width: 100%; */
  /* max-width: 50rem; */
  display: flex;
  flex-direction: column;
  padding: 2rem 4rem;
}

@media only screen and (max-width: 768px) {
  #container {
    flex-grow: 1;
    width: 100%;
    /* max-width: 50rem; */
    padding: 1rem 2rem;
  }
}

/* COMPONENT search form */
form {
  /* min-height: 20vh; */
  display: flex;
  justify-content: center;
  align-items: center;
}
form input,
form button {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background: white;
}
form button {
  color: var(--primary-dark);
  background: #f7fffe;
  cursor: pointer;
  transition: all 0.3s ease;
}
form button:hover {
  background: var(--primary-dark);
  color: white;
}
.filter-todo {
  padding: 1rem;
}

@media only screen and (max-width: 768px) {
  form {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  form input,
  form button {
    /* padding: 0.5rem; */
    font-size: 1rem;
    border: none;
    background: white;
  }
  form button {
    color: var(--primary-dark);
    background: #f7fffe;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  form button:hover {
    background: var(--primary-dark);
    color: white;
  }
  .filter-todo {
    padding: 1rem;
  }
}
/* END COMPONENT search form */

/* COMPONENT todo list */
.todo-list {
  flex-grow: 1;
  /* overflow-y: hidden; */
  margin: 1rem 0;
}
.todo-item {
  display: flex;
  width: 100%;
  background-color: var(--primary-dark);
  color: white;
  margin: 0.5rem 0 0.5rem 0;
  padding: 1rem 0.8rem;
  border-radius: 0.6rem;
  align-items: center;
}
.task-name {
  flex-grow: 1;
  padding: 0.2rem 0.5rem;
  margin-left: 0.5rem;
}

.done-btn {
  border: var(--secondary-purple) 0.2rem solid;
  height: 20px;
  width: 20px;
  background-color: var(--primary-dark);
  border-radius: 50%;
  cursor: pointer;
}

.remove-btn {
  background: var(--primary-dark);
  color: var(--secondary-purple);
  border: none;
  padding: 0.3rem;
  cursor: pointer;
  font-size: 1rem;
}

.done-btn,
.remove-btn:hover {
  color: white;
}

.todo-done > .task-name {
  text-decoration: line-through;
}
/* END COMPONENT todo item */

/* COMPONENT add task form */
.add-task-form {
  width: 100%;
}
/* END COMPONENT add task form */

/*CUSTOM SELECTOR */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background-image: none;
}

/* Custom Select */
.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}
select {
  color: var(--primary-dark);
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  width: 12rem;
}
@media only screen and (max-width: 768px) {
  .select {
    position: relative;
    overflow: visible;
  }
  select {
    width: 5rem;
  }
}

/* Arrow */
.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  background: var(--primary-dark);
  cursor: pointer;
  pointer-events: none;
}
/* Transition */

.select:hover::after {
  transform: scale(1.5);
}
