* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #1b2845;
  color: white;
  font-family: "Poppins", sans-serif;
}

.app {
  /* padding: 1rem; */

  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.app header {
  display: flex;
  color: white;
  font-size: 2rem;
  min-height: 20vh;
  /* align-items: center; */
  /* justify-content: center; */
}

.app header h1 {
  color: white;
  padding: 2rem;
}

/* component search form */
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
form input,
form button {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background: white;
}
form button {
  color: #ff6f47;
  background: #f7fffe;
  cursor: pointer;
  transition: all 0.3s ease;
}
form button:hover {
  background: #ff6f47;
  color: white;
}

.filter-todo {
  padding: 1rem;
}
/* END component search form */

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.todo-list {
  flex-grow: 1;
  overflow-y: hidden;
  margin: 2rem 0;
}

/* component todo item */
.todo-item {
  display: flex;
  width: 100%;
  background-color: white;
  margin: 0.5rem 0 0.5rem 0;
}
.task-name {
  flex-grow: 1;
  padding: 0.2rem 0.5rem;

  color: black;
}

.done-btn,
.remove-btn {
  background: #ff475f;
  color: white;
  border: none;
  padding: 0.3rem;
  cursor: pointer;
  font-size: 1rem;
}

.done-btn {
  background: #65afff;
}

.todo-done > .task-name {
  text-decoration: line-through;
  color: rgb(73, 70, 70);
}
/* END component todo item */

/* component add task form */
.add-task-form {
  width: 100%;
}
/* end component add task form */

/*CUSTOM SELECTOR */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background-image: none;
}

/* Custom Select */
.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}
select {
  color: #ff6f47;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  width: 12rem;
}
/* Arrow */
.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  background: #ff6f47;
  cursor: pointer;
  pointer-events: none;
}
/* Transition */
/*
.select:hover::after {
  transform: scale(1.5);
}
*/
